{% extends 'base/base_consultar.html' %}

{% block title %}
	Crear Expediente
{% endblock %}


{% block header %}
<style type="text/css">

.divOcultar{
	display: none;
}



</style>

{% endblock %}

{% block content %}
<form method="POST">
	{% csrf_token %}

 <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
  </div>
  <div class="panel-body">

		<center>
			<h2><p class="text-primary">Consultar Expediente</p></h2>		
		</center>

		<div class="col-md-12">
			<div class="form-group">
				<div class="col-md-6 col-md-offset-3">
					<div class="form-group has-warning has-feedback"" role="form">
					    <label class="control-label" for="inputWarning">Nombre del paciente</label>
						<input type="search" class="form-control " id="id_nombre_paciente" placeholder="EJ. Juan Perez" name="nombre_paciente" list="id_listanombres" autofocus >
						<span class="glyphicon glyphicon-search form-control-feedback"></span>
						<datalist id="id_listanombres"></datalist>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4 col-md-offset-4">
			<div class="form-group">
					<label for="{{form2.cod_expediente.name}}">{{form2.cod_expediente.label}}</label>
				{{form2.cod_expediente}}
			</div>
		</div>

		<div class="col-md-4 divOcultar">
			<div class="form-group">
				<a class="btn btn-warning" id="boton_editar" href="#" onclick="redireccionar();" style=" margin-top: 25px;">Editar</a>
			</div>
		</div>

		<div class="col-md-4 col-md-offset-2">
			<div class="form-group">
					<label for="{{form.nombres.name}}">{{form.nombres.label}}</label>	
				{{form.nombres}}
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label for="{{form.apellidos.name}}">{{form.apellidos.label}}</label>
				{{form.apellidos}}
			</div>
		</div>

		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
					<label for="{{form.direccion.name}}" >{{form.direccion.label}}</label>
					{{form.direccion}}
			</div>
		</div>


		<div class="col-md-4 col-md-offset-2">
			<div class="form-group">
				<label for="{{form.grado.name}}">{{form.grado.label}}</label>	
				{{form.grado}}
			</div>
		</div>

		<div class="col-md-4">
			<div class="form-group">
				<label for="{{form.genero.name}}">{{form.genero.label}}</label>	
				{{form.genero}}
			</div>
		</div>



		<div class="col-md-4 col-md-offset-2">
			<div class="form-group">
				<label for="{{form.fecha_nacimiento.name}}" >{{form.fecha_nacimiento.label}}</label>
					{{form.fecha_nacimiento}}
			</div>
		</div>

		<div class="col-md-4">
			<div class="form-group">
				<label for="{{form.edad.name}}">{{form.edad.label}}</label>	
				{{form.edad}}
			</div>
		</div>

		<div class="col-md-6 col-md-offset-2">
			<div class="form-group">
				<label for="{{form.responsable.name}}" >{{form.responsable.label}}</label>
					{{form.responsable}}
			</div>
		</div>

		<div class="col-md-2">
			<div class="form-group">
				<label for="{{form.telefono.name}}" >{{form.telefono.label}}</label>
					{{form.telefono}}
			</div>
		</div>

		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<br><br>
				<div class="col-md-3 col-md-offset-2">
				  <a href="/" class="btn btn-default btn-block">Regresar</a>
				</div> 

				<div class="col-md-3 col-md-offset-1">
				  <center><button type="submit" class="btn btn-primary btn-block">Siguiente</button></center>
				</div>
			</div>
			<br><br>
		</div>
	</div>
</div>
	<div class="col-md-8 col-md-offset-2">
		<div class="form-group">
			{{form.fecha_hora_creacion}}	
		</div>
	</div>	
	<input type="hidden" name="id_user" id="id_user">

 <script>

	function redireccionar(){
		var id_user = $('#id_user').val();
		window.open("/pacientes/alumno/editar/"+id_user+"/");
}

	$('#id_nombre_paciente').keyup(function(e){
		 	consulta = $("#id_nombre_paciente").val();
		 		
	 	$('#id_listanombres').empty().append('whatever');
	 	$.ajax({
	 		data: {'nombre': consulta},
	 		url: '/pacientes/busqueda/',
	 		type: 'get',
	 		success : function(data) {
	        	for (var i = 0; i < data.length; i++) {
					$("#id_listanombres").append("<option>"+data[i].fields.nombres+"</option>");
				}
	 		},
	 		error : function(message) {
	        	console.log(message);
	     	}
	 	});
	});

	$("input[name='nombre_paciente']").on('input', function(e){
   var $input = $(this),
       val = $input.val();
       list = $input.attr('list'),
       match = $('#'+list + ' option').filter(function() {
           return ($(this).val() === val);
       });
    
	var nombre = $('#id_nombre_paciente').val();
	
    if(match.length > 0) {
        // value is in list
		$.ajax({
			data : {'nombre':nombre},
			url : '/pacientes/busqueda/',
			type : 'get',
			success: function(data){
				for (var i = 0; i < data.length; i++) {
					if ({{user}} == 1) {
						$(".divOcultar").css("display", "block");
					}
					$("#id_user").val(data[i].pk);
					$.ajax({
						data : {'id_pk':data[i].pk},
						url : '/pacientes/busqueda2/',
						type : 'get',
						success: function(data){
							for (var i = 0; i < data.length; i++) {
								$("#id_cod_expediente").val(data[i].fields.cod_expediente);
							}
						},
					
					});
					$("#id_nombres").val(data[i].fields.nombres);
					$("#id_apellidos").val(data[i].fields.apellidos);
					$("#id_direccion").val(data[i].fields.direccion);
					$("#id_apellidos").val(data[i].fields.apellidos);
					if (data[i].grado < 10 && data[i].fields.grado > 0 ) {
						$("#id_grado").val(data[i].fields.grado+" Grado");
					}else{
						$("#id_grado").val(data[i].fields.grado+" año de Bachillerato");
					}
					if ( data[i].fields.genero == 1 ) {
						$("#id_genero").val("Masculino");
					}else{
						$("#id_genero").val("Femenino");
					}
					$("#id_responsable").val(data[i].fields.responsable);
					$("#id_telefono").val(data[i].fields.telefono);
					var d=data[i].fields.fecha_nacimiento;
					d = d.substr(0, 10).split("-");
					d = d[2] + "/" + d[1] + "/" + d[0];
					$("#id_fecha_nacimiento").val(d);
					var today = new Date();
					var date = new Date(data[i].fields.fecha_nacimiento);
				    var dayDiff = Math.ceil(today - date ) / (1000 * 60 * 60 * 24 * 365);
				    var age = parseInt(dayDiff);
				    $('#id_edad').val(age);


				}
			},			
		});
		
	} });

	$("#id_grado").val("");
	$("#id_genero").val("");
	</script> 

</form>

	
{% endblock %}