{% extends 'base/base.html' %}

{% block title %}
	Crear Expediente
{% endblock %}

{% block menu-social %}
{% endblock %}


{% block content %}
<form method="POST">
	{% csrf_token %}

	<div class="row">
	<ul>
	  {% if form.non_field_errors %}
	    <li>{{ form.non_field_errors }}</li>
	  {% endif %}
	  {% for field in form %}
	    {% if field.errors %}
	      <li class="alert alert-danger">
	        <strong>{{ field.label }}</strong>
	        <ul>
	          {% for error in field.errors %}
	            <li class="alert alert-danger"><strong>{{ error }}</li></strong>
	          {% endfor %}
	        </ul>
	      </li>
	    {% endif %}
	  {% endfor %}
	</ul>
	</div>

 <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
  </div>
  <div class="panel-body">

	<center>
		<h2><p class="text-primary">Nuevo Expediente</p></h2>		
	</center>


	<div class="col-md-4 col-md-offset-4">
		<div class="form-group">
				<label for="{{form.cod_expediente.name}}">{{form.cod_expediente.label}}</label>
			{{form.cod_expediente}}
		</div>
	</div>
	<div class="col-md-8  col-md-offset-2">
		<div class="form-group">
			<label for="{{form.responsable.name}}">{{form.responsable.label}}</label>
			{{form.responsable}}
		</div>
	</div>

	<div class="col-md-4 col-md-offset-2">
		<div class="form-group">
				<label for="{{form.telefono.name}}" >{{form.telefono.label}}</label>
				{{form.telefono}}
		</div>
	</div>


	<div class="col-md-4">
		<div class="form-group">
			<label for="{{form.tipo_sangre.name}}">{{form.tipo_sangre.label}}</label>	
			{{form.tipo_sangre}}
		</div>
	</div>

	<div class="col-md-8 col-md-offset-2">
		<div class="form-group">
			<label for="{{form.alergias.name}}">{{form.alergias.label}}</label>	
			{{form.alergias}}
		</div>
	</div>

	<div class="col-md-8 col-md-offset-2">
		<div class="form-group">
			<label for="{{form.enfermedades_padecidas.name}}">{{form.enfermedades_padecidas.label}}</label>	
			{{form.enfermedades_padecidas}}
		</div>
	</div>

	<div class="col-md-10 col-md-offset-2">
		<div class="form-group">
				{{form.usuario_creador}}
            </div>	
		</div>
	</div>

	<div class="col-md-6 col-md-offset-2">
		<div class="form-group">
				{{form.fecha_hora_creacion}}
		</div>
	</div>

	<div class="col-md-8 col-md-offset-2">
		<div class="form-group">
			<br><br>
			<div class="col-md-3 col-md-offset-2">
			  <a href="/" class="btn btn-default btn-block">Regresar</a>
			</div> 

			<div class="col-md-3 col-md-offset-1">
			  <center><button type="submit" class="btn btn-primary btn-block">Siguiente</button></center>
			</div>


		</div>
		<br><br>
	</div>
	</div>
</div>
	<div class="col-md-8 col-md-offset-2">
		<div class="form-group">
			{{form.alumno}}	
		</div>
	</div>	

	<script>

	</script> 

</form>

	
{% endblock %}